.LandingPage button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    width: auto;
    display: block;
}

.LandingPage button:hover {
    transform:  translatex(-2px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }